@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@300&family=Rakkas&family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rakkas&family=The+Nautigal&display=swap');

body {
  margin: 0;
  /* color: #FDFDFD; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  font-family: 'Bangers', cursive;
}

.lien-navbar {
  font-family: "Rakkas";
}

.btn-ajouter-panier {
  font-family: "Rakkas";
}

.titre-produit,
.price,
.categories,
.titre-home {
  font-family: "Rakkas";
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}